html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f7f2e8;
}
*,
* :before,
* :after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*
.header__logo{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: justify;
    flex-wrap: wrap;
}*/
.wrapper{
    max-width:1440px ;
    margin: 0 auto;
    padding: 0 2rem ;

}
.container{
    margin: 0 auto;
}
/* --------------MENU--------------- */
.header{
    height: 8rem;
    padding-top: 2rem;
    white-space: nowrap;
    
}
.header__inner{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.logo{
    font-weight: 600;
    font-size: 2.5rem;
    text-decoration: none;
}
.logo__text{
    color: #fd811bd3;
    padding-left: 1rem;
   
}
.header_menu{
    padding-top: 2rem;
    align-items: center;
    justify-content: end;
    display: flex;
}
.header__menu-list{
    align-items: center;
    display: flex;
}
.header__menu-item{
    margin-left: 5rem;
    text-decoration: none;
}
.header__menu-link{
    font-size: 1.6rem;
    text-decoration: none;
}
@media (min-width:768px) and (max-width:1439px) {
    .header{
        position: relative;
    }
    .header__inner{
        padding: 2rem 2.5rem 2rem 4rem;
        background-color: #ff9b6f;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    }
}
.content{
    padding: 5rem 0rem ;
}
.content__item{
    display: flex;
    align-items: center;
}
.content__text{
    width: 50%;
}
.content__title{
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 5rem;
}
.content__desc{
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
}
.content__image{
    width: 50%;
    display: flex;
    padding-left: 10rem;
}
.content__image-item{
    width: 40rem;
    height: 60rem;
    object-fit: cover;
    object-position: top;
    border-radius: 60px;

}
.content__image-item1{
    width: 45rem;
    height: 20rem;
    object-fit: cover;
    margin-top: 48rem;
    margin-left: -22rem;
    border-radius: 50px;
}
.content__item-1{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.content__text-1{
    width: 50%;
    padding-left: 10rem;
}
.content__title-1{
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 5rem;
    padding-left: 10rem;
}
.content__desc-1{
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
}
.content__image-1{
    width: 50%;
    padding-right: 8rem;
    display: flex;
    padding-top: 5rem;
    padding-left: 10rem;
}
.content__image-item2{
    width: 32rem;
    height: 56rem;
    object-fit: cover;
    padding-left: 1rem;
    border-radius: 250px;
}
.content__image-item3{
    width: 25rem;
    height: 40rem;
    object-fit: cover;
    margin-top: 50%;
    margin-left: -15rem;
    border-radius: 240px;
}
.category{
    padding-top: 5rem;
}
.category__list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category__item{
    width : 18%;
    padding:1.8rem 1.8rem 6rem;
    background-color: rgba(234, 212, 190, 0.986);
    border-radius: 12px;
    margin-bottom: 5rem;
     
}
.category_image{
    width: 22rem;
    height: 15rem;
    border-radius: 12px;
    margin-bottom: 2rem;
}
.category__name{
    font-size: 2.5rem;
    text-align: center;
    
}
.category__text{
    text-align: center;
}
.category__text-title{
    font-size: 5rem;
    font-weight: 600;
    line-height: 10rem;
}
.category__desc{
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
}
.category__title{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20rem;
    text-align: center;
    
}
.category__title-item{
    width : 30%;
    padding-bottom: 5rem;
    margin: 0 -2rem;
    padding-top: 5em;
    padding-left: 2rem;
    padding-right: 2rem;
}
.category_image2{
    width: 100%;
    padding-bottom: 5rem;
    
}
.category__title-details{
    text-decoration: none;
    font-size: 3rem;
    color: #000;
    
}
.section__title{
    display: flex;
    margin-top: 10rem;
    padding-top: 5rem;
}
.section__title-item{
    width: 50%;
    padding-left: 5rem;
    padding-bottom: 5rem;
    padding-right: 5rem;
    background-color: antiquewhite;
    padding-top: 5rem;
    border-radius: 5rem;
}
.section__text{
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
}
.section__item-text{
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
}
.section__title-text{
    font-size: 2rem;
    line-height: 2.5rem;
}
.section__video{
    width: 50%;
    padding-right: 6rem;
    padding-left: 2rem;
    padding-top: 4rem;
    
}
.article__title{
    margin-top: 15rem;
    padding-top:5rem;
    width: 50%;
    
    
}
.article ,.article__item{
    width: 50%;
}
.section__article{
    display: flex;
}
.article__image{
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.box1 , .box2 , .box3 {
    width: 40rem;
    height: 5rem;
    border: 1.5px solid #e2c27cc0;
    box-shadow: 5px 5px 5px 5px rgba(233, 190, 92, 0.382);
    border-radius: 5rem ;
    display: flex;
    margin-top: 1rem;
}
.text{
    color:black;
    padding-top: 1.5rem;
    padding-left: 3rem;
    text-align: center;
    font-size: 2rem;
    text-shadow: 5px 5px 5px 5px rgba(194, 74, 18, 0.344);
}
.box1{
    margin-left: 2rem;
}
.box2{
    margin-left:6rem;
}  
.box3{
    margin-left:10rem;
}
.article__title-item{
    display: flex;
    width: 50%;
    margin-top: 10rem;
}
.article__box1, .article__box2,.article__box3 {
    width:50rem;
    margin-right: 2rem;
    border-radius: 50PX;
    margin-left: 3rem;
    background-color: antiquewhite;
    padding-right: 4rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 2rem;
    
}
.article__content{
    display: flex;
}
.article__name{
    margin-left: 8px;
    margin-top: 14px;
}
.name{
   color: rgb(10, 10, 10);
   font-size: 2rem; 
}
.article__page{
    color: rgb(9, 9, 9);
    margin-left: 3rem;
    font-size: 1.5rem;
    padding-top: 3rem;
    
}
.article__box1{
    margin-top: 35px;
}
.article__box2{
    margin-top: 50px;
}
.article__box3 {
    margin-top: 65px; 
    
}
.article__image2{
    width: 6rem; 
    height: 6rem;
    border-radius: 50%;
}
   

.content__text-form{
    width: 50%;

}
form{
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
    width: 70%;
    border-radius: 2rem;
    margin-left:15rem;
}
form h3{
    font-weight:600;
    font-size: 3rem;
    text-align: center;
}
form input, form textarea{
    border:0;
    margin: 0.8em 0;
    padding: 2rem;
    outline: none;
    background: tan;
    font-size: 16px;
    border-radius: 2rem;
    transition: all 0.5s;
}
form input :focus ,form textarea :focus{
    background: rgb(89, 60, 23);
}
form textarea{
    resize: none;

}
form button{
    padding :0.8em;
    background: rgb(158, 96, 34);
    color: rgb(249, 245, 245);
    font-size: 1.2em;
    border:0;
    outline: none;
    cursor: pointer;
    width: 10em;
    margin:2em auto 0;
    border-radius: 2em;
}
.footer__item{
    background-color: rgba(152, 121, 64, 0.151);
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: auto;
    padding-left: auto;
}
.infomation{
    width: 50%;
    display: flex;
}
.infomation__link{
    width: 50%;
    margin-left: 5rem;

}
.infomation__item-link{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    line-height: 5rem;
    color: #000;
    text-align:center
    
}
.infomation__item-link2{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    line-height: 5rem;
    color: #000;;   
}

.infomation__image{
    width: 3rem;
    height: 3rem;
}
@media (min-width:768px) and (max-width:1439px) {
    .content__image-1{
        padding-left: 0;
    }
    .content__text-1{
        width: 100%;
    }
    .content__title-1{
        white-space: nowrap;
    }
    .content__desc-1{
        padding-left: 10rem;
    }
    .content__image-item3{
        margin-left: -10rem;
    }
 }